// *** COLORS ***
$bg-color: #f3e5d7;
$global-color: #5f564d;

$bg-recipe-color: #fff;

$bg-prep-time-color: #fff7fb;
$heading-prep-time-color: #7a284e;

$main-heading-color: #312e2c;
$sub-heading-color: #854632;

$recipe-hr-line: #e3ddd7;

// *** Font Families ***
$font-family-outfit: 'Outfit', serif;
$font-family-young-serif: 'Young Serif', serif;
